<%- include("layout/header.ejs") %> 
<div class="intro">
    <div class="container">
        <div class="inner">
            <h1 class="title">Welcome to Value Secrets</h1>
            <h2 class="subtitle">Version 1.0.0</h2>
            <div class="wrapper">
                <a class="button" href="/login">Sign Up</a>
            </div>

        </div>

    </div>
</div>
<%- include("layout/footer.ejs") %>