.sys-message{
    position: relative;
    padding: 2px 5px;
    width: 100%;
    font-size: 14px;
    height: auto;
    min-height: 40px;
    margin: 0;
    flex-shrink: 0;
    
    text-align: center;
    color: rgba(#fff, .7);
}